%header{ class: "banner banner-#{slugify(title)}"}
  .container
    %h1= title
    %p= data.work.send(title)

    = partial "partials/work/navigation", locals: { prev_title: previous_project(title), next_title: next_project(title) }
