@import "variables";
@import "mixins";
@import "bootstrap";
@import "font-awesome";
@import "iconic-theme";
@import "blog-archive";

/* Global
================================================== */

body {
  @include font-smoothing;
}

#main-content {
  min-height: 85vh;
}

section {
  padding: 2em 0;
}

abbr, p span[data-toggle=tooltip] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}

blockquote {
  p:first-of-type::before {
    content: '“';
  }

  p:last-of-type::after {
    content: '”';
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.8em;
  font-size: $font-size-base * 1.4;
}

p {
  margin-bottom: 1em;
  a {
    text-decoration: underline;
  }
}

pre code {
  font-size: 0.9em;
}

pre, iframe {
  margin-bottom: 1em;
}

form {
  margin: 1em 0 2em;

  label {
    font-weight: normal;
    color: $green;
  }

  .form-group {
    .form-control {
      padding: 0.4em;
      box-shadow: none;
    }
  }

  #gotcha {
    position: absolute;
    top: -9999px;
  }
}

/* Navbar
-------------------------------------------------- */

.navbar > .container .navbar-brand {
  @include text-hide;
  background: image-url("full-logo.png") no-repeat 0 50%;
  background-size: 100%;
  margin: 12px 0 0;
  width: 186px;
  height: 34px;

  &:hover {
    opacity: 0.85;
  }
}

/* Buttons
-------------------------------------------------- */

.btn {
  font-size: 1em;
  padding-top: 0.5em;

  &:active {
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.3);
  }

  &.btn-default {
    border-color: $btn-default-border;

    &:hover, &:focus {
      background-color: $green;
      color: $white;
    }

    &:active {
      background-color: darken($green, 10%);
      color: $white;
    }
  }

  &.btn-inverse {
    border-color: $white;
    color: $white;

    &:hover, &:focus {
      background-color: $white;
      color: $dark-green;
    }

    &:active {
      background-color: transparentize($white, 0.2);
      color: $dark-green;
    }
  }

  &.btn-full-width {
    display: block;
    white-space: normal;
  }
}

/* Tooltips
-------------------------------------------------- */

.tooltip-inner {
  padding: 0.7em;
  line-height: 1.1;
}

/* Banners
-------------------------------------------------- */

.banner {
  $banner-height: 220px;

  background: transparent no-repeat 0 50%;
  display: block;
  height: $banner-height;
  text-align: center;
  color: $white;
  background-size: cover;
  @include font-smoothing(off);

  > .container {
    position: relative;
  }

  .banner-title {
    @include text-hide;
    max-width: 438px;
    width: 90%;
    margin: 0 auto;
    height: $banner-height - 30;
    background: transparent no-repeat 50% 50%;
    background-size: contain;
  }

  .banner-subtitle {
    margin-top: - $banner-height/2 + 45;
  }

  .banner-next,
  .banner-previous {
    @include text-hide;
    display: block;
    height: $banner-height;
    width: 80%;
    min-width: 40px;
    background: image-url("chevron-bubble.png") no-repeat 50% 50%;
    opacity: 0.4;
    background-size: contain;
    padding: 0;
    position: absolute;

    &:hover, &:focus {
      opacity: 1;
    }
  }

  .banner-previous {
    left: $grid-gutter-width/2;
  }

  .banner-next {
    @include rotate(180deg);
    right: $grid-gutter-width/2;
  }
}

a.banner {
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $white;
    box-shadow: inset 600px 300px 0 rgba(0,0,0,0.2);
  }
}

@include banner(medtronic);
@include banner(hello-sunday-morning);
@include banner(waysact);
@include banner(employment-hero);
@include banner(sprintly);

/* Footers
-------------------------------------------------- */

#pre-footer {
  text-align: center;
  background-color: $pale-green;
}

#footer {
  background-color: $dark-green;
  padding: 1.5em 0 2em;

  .copyright small, a {
    display: inline-block;
    margin: 10px 0;
    font-size: 0.85em;
    color: $white;
  }

  .copyright {
    opacity: 0.6;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline;
  }

  .footer-nav {
    text-align: center;

    a {
      padding: 0 0.5em;
    }
  }

  .tc-elsewhere {
    text-align: right;

    a {
      text-decoration: none;
      height: 1.1em;
      width: 1.1em;
      font-size: 1.2em;
      text-align: center;
      overflow: hidden;
      opacity: 0.5;

      &:hover, &:focus, &:active {
        opacity: 1;
      }

      &::before {
        display: block;
      }
    }
  }
}


/* About Us
================================================== */

body#about-us {
  #testimonials {
    background: $dark-green image-url("home-banner-bg.jpg") no-repeat 0 100%;
    background-size: cover;
    color: $white;
    padding: 0;
    padding-top:  $navbar-height + 4px;
    margin-top: - $navbar-height - 4px;

    #testimonials-carousel {
      $carousel-height: 200px;

      height: $carousel-height;
      overflow: hidden;

      .item {
        width: 100%;
        height: $carousel-height;
        overflow: hidden;
      }

      blockquote {
        border: 0;
        padding: 0;
        margin: 0 0 0.5em;
        font-family: $headings-font-family;
      }

      figcaption {
        opacity: 0.7;
        font-size: 0.8em;

        &::before {
          content: "— ";
        }
      }

      .carousel-indicators li {
        border: none;
        background-color: rgba(255,255,255,0.2);
        width: 8px;
        height: 8px;

        &.active {
          margin: 1px;
          background-color: rgba(255,255,255,0.7);
        }
      }
    }

    #testimonials-action {
      text-align: center;

      p {
        opacity: 0.7;
        max-width: 9em;
        margin: 1em auto;
      }
    }
  }

  #services {
    .service-image {
      position: relative;
      height: 300px;

      img {
        position: absolute;
        display: block;
        width: 115%;
        height: auto;
        margin-left: -$grid-gutter-width/2;
        top: 110px;
        margin-top: -20%;
      }
    }

    ul {
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 0.8em;
      text-transform: uppercase;
      color: $dark-green;
    }

    .iconic {
      margin-bottom: 0.2em;
    }
  }

  #about {
    background-color: $pale-green;

    h2 {
      text-align: center;
    }

    ul {
      padding: 0;
      list-style: none;
      text-align: center;
    }

    li {
      display: inline-block;
    }

    #team {
      text-align: center;

      h3 {
        font-size: 0.9em;
        color: fade-out($dark-green, 0.2);
        max-width: 5em;
        display: block;
        margin: 0.5em auto 1em;
      }

      p {
        font-size: 0.9em;
        color: $dark-green;
      }

      img {
        max-height: 200px;
      }

      .person-links a {
        text-decoration: none;
        display: block;
        height: 1em;
        width: 1em;
        overflow: hidden;
        color: $gray-dark;
        opacity: 0.3;

        &:hover, &:focus, &:active {
          opacity: 0.7;
        }

        &::before {
          display: block;
        }
      }
    }
  }

  #partners {
    text-align: center;

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      margin: 10px;
    }

    a {
      img {
        @include desaturate;
        opacity: 0.4;
        max-width: 200px;
        max-height: 50px;
        vertical-align: center;
      }

      &:hover, &:focus, &:active {
        img {
          @include desaturate(0%);
          opacity: 1;
        }
      }
    }
  }
}


/* Services
================================================== */

body#work {
  header {
    background-color: $dark-green;
    color: $white;
    padding: 0.5em 0 1.5em;

    p {
      font-family: $headings-font-family;
      font-size: $blockquote-font-size;
    }
  }

  #services {
    .row {
      margin-bottom: 1em;
    }
  }

  #case-studies {
    padding: 0;
    margin-top: 1em;
    position: relative;
    background-color: $pale-green;
    box-shadow: inset 0 -220px 0 rgba(0,0,0,0.05);

    h1 {
      position: absolute;
      top: -2em;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-left: 0;
      margin-bottom: 0;
    }

    li {
      padding-left: 0;
    }
  }
}

body#medtronic,
body#hello-sunday-morning,
body#employment-hero {
  section:nth-of-type(even) {
    background-color: $pale-green;
  }
}

body#sprintly {
  section:nth-of-type(odd) {
    background-color: $pale-green;
  }

  h1 {
    margin-bottom: 0.5em;
  }

  .intro {
    font-family: $headings-font-family;
    font-size: $blockquote-font-size;

    p {
      margin: 0;
    }
  }

  .icon {
    margin-right: -$grid-gutter-width/2;
    margin-bottom: 1em;
  }

  .btn-download {
    display: inline-block;
    margin-bottom: 1em;
  }
}

/* Blog
================================================== */

body#blog {
  header {
    text-align: center;
    margin-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1)
  }

  .post {
    h1 { font-size: $font-size-h1 - 15; }
    h2 { font-size: $font-size-h2 - 12; }
    h3 { font-size: $font-size-h3 - 8; }

    img {
      @include img-responsive;
    }

    h1, h2, h3, h4, h5, h6 {
      img {
        display: inline;
        vertical-align: middle;
        margin-top: -2px;
      }
    }

    ul, ol {
      margin-bottom: 1em;
    }

    li {
      margin-bottom: 0.5em;
    }

    footer {
      text-align: right;
      color: rgba(0,0,0,0.4);
      margin-bottom: -1em;

      dt {
        font-weight: normal;
        margin: 2em 0 0.5em;
        text-transform: uppercase;
        font-size: 0.8em;

        &:first-of-type {
          display: none;
        }
      }

      .author {
        color: rgba(0,0,0,0.5);

        img {
          display: inline;
        }
      }

      .pubdate {
        line-height: 2.5;
        margin-bottom: -0.7em;
      }

      .tags {
        padding: 0;
        list-style: none;
        margin: 0 0 1em;

        li {
          margin-bottom: 0.1em;
        }
      }
    }
  }

  footer .tags a {
    display: inline-block;
    padding: 0.3em 0.5em 0.2em;
    background-color: rgba(0,0,0,0.08);
    font-size: 0.65em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: $border-radius-small;

    &:hover,
    &:focus {
      background-color: rgba(0,0,0,0.15)
    }
  }
}

/* Breakpoints
================================================== */

@media (min-width: $screen-sm-min) {
  #main-nav {
    float: right;
    position: relative;
    right: -$grid-gutter-width;

    .active a {
      padding: 5px 3px;
      margin: 15px 12px;
      box-shadow: inset 0 -3px 0 rgba(255,255,255,0.3);
    }
  }

  #footer .copyright {
    margin-right: -2em;
  }

  body#about-us {
    .navbar {
      background: none;
      border-color: transparent;
    }

    #history {
      padding-left: $grid-gutter-width;
      padding-right: 0;
    }
  }

  body#work #case-studies {
    ul {
      margin-left: $grid-gutter-width/2;
    }

    .banner {
      margin-left: -$grid-gutter-width/2;
    }
  }

  body#blog .post .pubdate {
    margin-left: -1em;
  }

  body#sprintly .btn-download {
    float: right;
  }
}

@media (max-width: $screen-xs-max) {
  #main-nav {
    .active {
      background-color: rgba(0,0,0,0.3);
      font-weight: bold;
    }

    li:not(.active) a:hover {
      background-color: rgba(255,255,255,0.2);
      color: $white;
    }
  }

  #footer {
    .copyright, ul {
      text-align: center;
    }
  }

  .navbar > .container .navbar-brand {
    margin-left: $grid-gutter-width/2;
  }

  .banner .banner-next {
    right: -$grid-gutter-width/4;
  }

  body#about-us {
    #services {
      li {
        line-height: 2;
        margin-bottom: 1em;
      }
    }

    #team li {
      margin-bottom: 1em;
    }
  }

  body#blog {
    .post footer {
      border-top: 1px solid rgba(0,0,0,0.1);
      text-align: left;
      padding-top: 1em;
      margin-top: 2em;
    }
  }
}
