@mixin desaturate($amount: 100%) {
  -webkit-transform: translateZ(0);
  -webkit-filter: grayscale($amount);
  -moz-filter: grayscale($amount);
  -ms-filter: grayscale($amount);
  -o-filter: grayscale($amount);
  filter: grayscale($amount);
}

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin banner($project) {
  .banner-#{$project} {
    background-image: image-url('work/#{$project}/banner.jpg');

    .banner-title {
      background-image: image-url('work/#{$project}/logo.png');
    }
  }
}

@mixin gutter-padding($row-padding, $col-padding) {
  padding: 0 $row-padding;

  > [class^=col-] {
    padding-left: $col-padding;
    padding-right: $col-padding;
  }
}
