@import "variables";
@import "mixins";
@import "bootstrap";
@import "font-awesome";
@import "iconic-theme";

/* Global
================================================== */

body {
  @include font-smoothing;
}

abbr, p span[data-toggle=tooltip] {
  cursor: help;
  border-bottom: $abbr-border-color dotted rgba(0,0,0,0.4);
}

blockquote {
  p:first-of-type::before {
    content: '“';
  }

  p:last-of-type::after {
    content: '”';
  }
}

/* Navbar
-------------------------------------------------- */

#main-nav {
  padding-right: 0;
  margin-right: -15px;

  @media (max-width: $screen-xs-max) {
    .active {
      background-color: rgba(0,0,0,0.2);
    }

    li:not(.active) a:hover {
      background-color: rgba(255,255,255,0.1);
      color: $white;
    }
  }

  @media (min-width: $screen-sm-min) {
    .active a {
      padding: 5px 3px;
      margin: 15px 12px;
      box-shadow: inset 0 -3px 0 rgba(255,255,255,0.4);
    }
  }
}

/* Buttons
-------------------------------------------------- */

.btn {
  font-size: 1em;
  padding-top: 0.5em;

  &.btn-default {
    border-color: $btn-default-border;

    &:hover, &:focus {
      background-color: $green;
      color: $white;
    }

    &:active {
      background-color: transparentize($green, 0.2);
      color: $white;
    }
  }

  &.btn-light {
    border-color: $white;
    color: $white;

    &:hover, &:focus {
      background-color: $white;
      color: $dark-green;
    }

    &:active {
      background-color: transparentize($white, 0.2);
      color: $dark-green;
    }
  }
}

/* Footers
-------------------------------------------------- */

#pre-footer {
  text-align: center;
  background-color: $pale-green;
}

#footer {
  background-color: $dark-green;
  padding: 1.5em 0 2em;

  .copyright small, a {
    display: inline-block;
    margin: 10px 0;
    font-size: 0.9em;
    color: $white;
  }

  .copyright {
    opacity: 0.6;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline;
  }

  .footer-nav {
    text-align: center;

    a {
      padding: 0 0.5em;
    }
  }

  .tc-elsewhere {
    text-align: right;

    a {
      text-decoration: none;
      height: 1.1em;
      width: 1.1em;
      font-size: 1.2em;
      text-align: center;
      overflow: hidden;
      opacity: 0.5;

      &:hover, &:focus, &:active {
        opacity: 1;
      }

      &::before {
        display: block;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .copyright, ul {
      text-align: center;
    }

    nav {
      margin: 0;
    }
  }
}


/* About Us
================================================== */

body#about-us {
  #testimonials {
    background-color: $dark-green;
    color: $white;

    #testimonials-carousel {
      $carousel-height: 180px;

      height: $carousel-height;
      overflow: hidden;

      .item {
        background-color: $dark-green;
        width: 100%;
        height: $carousel-height;
        overflow: hidden;
      }

      blockquote {
        border: 0;
        padding: 0;
        margin: 0 0 0.5em;
        font-family: $headings-font-family;
      }

      figcaption {
        font-size: 0.8em;

        &::before {
          content: "— ";
        }
      }

      .carousel-indicators li {
        border: none;
        background-color: rgba(255,255,255,0.2);

        &.active {
          margin: 1px;
          width: 10px;
          height: 10px;
          background-color: rgba(255,255,255,0.7);
        }
      }
    }
  }

  #services {
    ul {
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 0.8em;
      text-transform: uppercase;
      color: $dark-green;
    }
  }

  #about {
    background-color: $pale-green;

    h2 {
      text-align: center;
    }

    ul {
      padding: 0;
      list-style: none;
      text-align: center;
    }

    li {
      display: inline-block;
    }

    #team {
      text-align: center;

      h3 {
        font-size: 0.9em;
      }

      p {
        font-size: 0.9em;
        color: $dark-green;
      }

      img {
        max-height: 200px;
      }

      .person-links a {
        text-decoration: none;
        display: block;
        height: 1em;
        width: 1em;
        overflow: hidden;
        color: $gray-dark;
        opacity: 0.3;

        &:hover, &:focus, &:active {
          opacity: 0.7;
        }

        &::before {
          display: block;
        }
      }
    }
  }

  #partners {
    text-align: center;

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      margin: 10px;
    }

    a {
      img {
        @include desaturate;
        opacity: 0.4;
        max-width: 200px;
        max-height: 50px;
        vertical-align: center;
      }

      &:hover, &:focus, &:active {
        img {
          @include desaturate(0%);
          opacity: 1;
        }
      }
    }
  }
}
