@import "bootstrap";
@import "font-awesome";
@import "iconic-theme";
@import "variables";
@import "mixins";

/* Global
================================================== */

body {
  @include font-smoothing;
  background-color: $white;
  color: $darkGray;
  font: 18px/1.2 $bodyFonts;
}

p span[data-toggle=tooltip] {
  cursor: help;
  border-bottom: 1px dotted rgba(0,0,0,0.4);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFonts;
}

blockquote {
  p:first-of-type::before {
    content: '“';
  }

  p:last-of-type::after {
    content: '”';
  }
}

/* Buttons
-------------------------------------------------- */

.btn {
  font-size: 1em;
  padding-top: 0.5em;
  border: 1px solid black;
  border-radius: 3px;
}

.btn.btn-default {
  border-color: $green;
  color: $green;
  background: none;

  &:hover, &:active, &:focus {
    background-color: $green;
    color: $white;
  }
}

/* Footers
-------------------------------------------------- */

#pre-footer {
  text-align: center;
  background-color: $paleGreen;
}

#footer {
  background-color: $darkGreen;
  padding: 1.5em 0 2em;

  .copyright small, a {
    display: inline-block;
    margin: 10px 0;
    font-size: 0.9em;
    color: $white;
  }

  .copyright {
    opacity: 0.6;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline;
  }

  nav {
    text-align: center;
    margin: 0 -3em;

    a {
      padding: 0 0.5em;
    }
  }

  .tc-elsewhere {
    text-align: right;

    a {
      text-decoration: none;
      height: 1.1em;
      width: 1.1em;
      font-size: 1.2em;
      text-align: center;
      overflow: hidden;
      opacity: 0.5;

      &:hover, &:focus, &:active {
        opacity: 1;
      }

      &::before {
        display: block;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .copyright, ul {
      text-align: center;
    }

    nav {
      margin: 0;
    }
  }
}


/* About Us
================================================== */

body#about-us {
  #services {
    ul {
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 0.8em;
      text-transform: uppercase;
      color: $darkGreen;
    }
  }

  #about {
    background-color: $paleGreen;

    h2 {
      text-align: center;
    }

    ul {
      padding: 0;
      list-style: none;
      text-align: center;
    }

    li {
      display: inline-block;
    }

    #team {
      text-align: center;

      h3 {
        font-size: 1em;
      }

      p {
        font-size: 0.9em;
        color: $darkGreen;
      }

      img {
        max-height: 200px;
      }

      .person-links a {
        text-decoration: none;
        display: block;
        height: 1em;
        width: 1em;
        overflow: hidden;
        color: $darkGray;
        opacity: 0.3;

        &:hover, &:focus, &:active {
          opacity: 0.7;
        }

        &::before {
          display: block;
        }
      }
    }
  }

  #partners {
    text-align: center;

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      margin: 10px;
    }

    a {
      @include desaturate;
      opacity: 0.4;

      &:hover, &:focus, &:active {
        @include desaturate(0%);
        opacity: 1;
      }

      img {
        max-width: 200px;
        max-height: 50px;
        vertical-align: center;
      }
    }
  }
}
