@import "variables";
@import "mixins";
@import "bootstrap";
@import "font-awesome";
@import "iconic-theme";

/* Global
================================================== */

body {
  @include font-smoothing;
}

section {
  padding: 2em 0;
}

abbr, p span[data-toggle=tooltip] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}

blockquote {
  p:first-of-type::before {
    content: '“';
  }

  p:last-of-type::after {
    content: '”';
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.8em;
  font-size: $font-size-base * 1.4;
}

/* Navbar
-------------------------------------------------- */

.navbar > .container .navbar-brand {
  @include text-hide;
  background: image-url("full-logo.png") no-repeat 0 50%;
  background-size: 100%;
  margin: 12px 0 0;
  width: 186px;
  height: 34px;

  &:hover {
    opacity: 0.85;
  }
}

/* Buttons
-------------------------------------------------- */

.btn {
  font-size: 1em;
  padding-top: 0.5em;

  &:active {
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.3);
  }

  &.btn-default {
    border-color: $btn-default-border;

    &:hover, &:focus {
      background-color: $green;
      color: $white;
    }

    &:active {
      background-color: darken($green, 10%);
      color: $white;
    }
  }

  &.btn-inverse {
    border-color: $white;
    color: $white;

    &:hover, &:focus {
      background-color: $white;
      color: $dark-green;
    }

    &:active {
      background-color: transparentize($white, 0.2);
      color: $dark-green;
    }
  }
}

/* Tooltips
-------------------------------------------------- */

.tooltip-inner {
  padding: 0.7em;
  line-height: 1.1;
}

/* Banners
-------------------------------------------------- */

.banner {
  $banner-height: 220px;

  background: transparent no-repeat 0 50%;
  display: block;
  height: $banner-height;
  text-align: center;
  color: $white;
  background-size: cover;
  @include font-smoothing(off);

  .banner-title {
    @include text-hide;
    width: 438px;
    max-width: 90%;
    margin: 0 auto;
    height: $banner-height - 30;
    background: transparent no-repeat 50% 50%;
    background-size: contain;
  }

  .banner-subtitle {
    margin-top: - $banner-height/2 + 45;
  }

  .banner-next,
  .banner-previous {
    @include text-hide;
    display: block;
    height: 50px;
    background: image-url("chevron-bubble.png") no-repeat 100% 50%;
    opacity: 0.4;
    background-size: contain;
    padding: 0;
    margin: 80px 0 0;
    min-width: 40px;

    &:hover, &:focus {
      opacity: 1;
    }
  }

  .banner-next {
    @include rotate(180deg);
  }
}

a.banner {
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $white;
    box-shadow: inset 600px 300px 0 rgba(0,0,0,0.2);
  }
}

@include banner(medtronic);
@include banner(hello-sunday-morning);
@include banner(employment-hero);
@include banner(sprintly);

/* Footers
-------------------------------------------------- */

#pre-footer {
  text-align: center;
  background-color: $pale-green;
}

#footer {
  background-color: $dark-green;
  padding: 1.5em 0 2em;

  .copyright small, a {
    display: inline-block;
    margin: 10px 0;
    font-size: 0.85em;
    color: $white;
  }

  .copyright {
    opacity: 0.6;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline;
  }

  .footer-nav {
    text-align: center;

    a {
      padding: 0 0.5em;
    }
  }

  .tc-elsewhere {
    text-align: right;

    a {
      text-decoration: none;
      height: 1.1em;
      width: 1.1em;
      font-size: 1.2em;
      text-align: center;
      overflow: hidden;
      opacity: 0.5;

      &:hover, &:focus, &:active {
        opacity: 1;
      }

      &::before {
        display: block;
      }
    }
  }
}


/* About Us
================================================== */

body#about-us {
  #testimonials {
    background: $dark-green image-url("home-banner-bg.jpg") no-repeat 0 100%;
    background-size: cover;
    color: $white;
    padding: 0;
    padding-top:  $navbar-height + 4px;
    margin-top: - $navbar-height - 4px;

    #testimonials-carousel {
      $carousel-height: 200px;

      height: $carousel-height;
      overflow: hidden;

      .item {
        width: 100%;
        height: $carousel-height;
        overflow: hidden;
      }

      blockquote {
        border: 0;
        padding: 0;
        margin: 0 0 0.5em;
        font-family: $headings-font-family;
      }

      figcaption {
        opacity: 0.7;
        font-size: 0.8em;

        &::before {
          content: "— ";
        }
      }

      .carousel-indicators li {
        border: none;
        background-color: rgba(255,255,255,0.2);
        width: 8px;
        height: 8px;

        &.active {
          margin: 1px;
          background-color: rgba(255,255,255,0.7);
        }
      }
    }

    #testimonials-action {
      text-align: center;

      p {
        opacity: 0.7;
        max-width: 9em;
        margin: 1em auto;
      }
    }
  }

  #services {
    .service-image {
      position: relative;
      height: 300px;

      img {
        position: absolute;
        display: block;
        width: 115%;
        height: auto;
        margin-left: -$grid-gutter-width/2;
        top: 110px;
        margin-top: -20%;
      }
    }

    ul {
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 0.8em;
      text-transform: uppercase;
      color: $dark-green;
    }

    .iconic {
      margin-bottom: 0.2em;
    }

    .btn {
      display: block;
    }
  }

  #about {
    background-color: $pale-green;

    h2 {
      text-align: center;
    }

    ul {
      padding: 0;
      list-style: none;
      text-align: center;
    }

    li {
      display: inline-block;
    }

    #team {
      text-align: center;

      h3 {
        font-size: 0.9em;
        margin-top: 0.5em;
        color: fade-out($dark-green, 0.2);
      }

      p {
        font-size: 0.9em;
        color: $dark-green;
      }

      img {
        max-height: 200px;
      }

      .person-links a {
        text-decoration: none;
        display: block;
        height: 1em;
        width: 1em;
        overflow: hidden;
        color: $gray-dark;
        opacity: 0.3;

        &:hover, &:focus, &:active {
          opacity: 0.7;
        }

        &::before {
          display: block;
        }
      }
    }
  }

  #partners {
    text-align: center;

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      margin: 10px;
    }

    a {
      img {
        @include desaturate;
        opacity: 0.4;
        max-width: 200px;
        max-height: 50px;
        vertical-align: center;
      }

      &:hover, &:focus, &:active {
        img {
          @include desaturate(0%);
          opacity: 1;
        }
      }
    }
  }
}


/* Services
================================================== */

body#work {
  header {
    background-color: $dark-green;
    color: $white;
    padding: 0.5em 0 1.5em;

    p {
      font-family: $headings-font-family;
      font-size: $blockquote-font-size;
    }

    .btn {
      width: 100%;
      white-space: normal;
    }
  }

  #services {
    .row {
      margin-bottom: 1em;
    }
  }

  #case-studies {
    padding: 0;
    margin-top: 1em;
    position: relative;
    background-color: $pale-green;
    box-shadow: inset 0 -220px 0 rgba(0,0,0,0.05);

    h1 {
      position: absolute;
      top: -2em;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-left: 0;
      margin-bottom: 0;
    }

    li {
      padding-left: 0;
    }
  }
}

body#medtronic,
body#hello-sunday-morning,
body#employment-hero,
body#sprintly {
  section:nth-of-type(even) {
    background-color: $pale-green;
  }
}


/* Breakpoints
================================================== */

@media (min-width: $screen-sm-min) {
  #main-nav {
    float: right;
    position: relative;
    right: -$grid-gutter-width;

    .active a {
      padding: 5px 3px;
      margin: 15px 12px;
      box-shadow: inset 0 -3px 0 rgba(255,255,255,0.3);
    }
  }

  #footer .copyright {
    margin-right: -2em;
  }

  body#about-us .navbar {
    background: none;
    border-color: transparent;
  }

  body#work #case-studies {
    ul {
      margin-left: $grid-gutter-width/2;
    }

    .banner {
      margin-left: -$grid-gutter-width/2;
    }
  }
}

@media (max-width: $screen-xs-max) {
  #main-nav {
    .active {
      background-color: rgba(0,0,0,0.2);
    }

    li:not(.active) a:hover {
      background-color: rgba(255,255,255,0.1);
      color: $white;
    }
  }

  #footer {
    .copyright, ul {
      text-align: center;
    }
  }

  .navbar > .container .navbar-brand {
    margin-left: $grid-gutter-width/2;
  }

  .banner .banner-next {
    position: absolute;
    right: $grid-gutter-width/2;
  }
}
