$bodyFonts: "Myriad Pro", myriad, helvetica, arial, sans-serif;
$headingFonts: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, arial, sans-serif;
$white: #fffffb;
$darkGray: #333;
$green: #366;
$darkGreen: #033;
$paleGreen: transparentize($green, 0.92);
