$bodyFonts: "Myriad Pro", myriad, helvetica, arial, sans-serif;
$headingFonts: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, arial, sans-serif;
$paleBg: #fffffb;
$darkGray: #333;
$darkGreen: #366;
$paleGreen: transparentize($darkGreen, 0.92);
