= wrap_layout :blog do
  %meta{ property: "og:type", content: "Article" }
  %meta{ property: "og:title", content: "A title of no more than 65 characters" }
  %meta{ property: "og:description", content: "You can use a 156-character description here." }
  %meta{ property: "og:url", content: "URL of the article or page you are sharing" }
  %meta{ property: "og:image", content: "URL of the image you’d like to feature" }
  %meta{ property: "og:site_name", content: "Random Software" }
  = partial "blog/post", locals: { post: current_article }
