---
slug: contact-thankyou
---

%section
  .container.text-center
    %h1 Thank you for your message
    :kramdown
      We'll respond as soon as possible.
    = link_to "Return Home", "/", class: "btn btn-default"
