%section#closed
  .container
    :kramdown
      Sorry, Terracoding is no more as of August 2016. Thank you to all of our wonderful clients and partners over the last five years! It's been a blast. – [Dom][d], [Rob][r] & [Sam][s]

      [d]: https://twitter.com/domness
      [r]: https://twitter.com/tallguyrob
      [s]: https://twitter.com/samrayner
