.navbar
  .container
    %h1= link_to "Terracoding", "/"
    %p
      Project or question?
      = mail_to percent_obfuscate(data.company.email), entity_obfuscate(data.company.email)
    = partial "partials/shared/navigation"
