%nav.navbar.navbar-inverse{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ data: { toggle: "collapse", target: "#main-nav" } }
        %span.sr-only Toggle navigation
        - 3.times do
          %span.icon-bar
      = link_to "Terracoding", "/", class: "navbar-brand"
      %p
        Project or question?
        = mail_to percent_obfuscate(data.company.email), entity_obfuscate(data.company.email)

    #main-nav.collapse.navbar-collapse.navbar-right
      %ul.nav.navbar-nav
        = partial "shared/navigation_links"
