---
layout: page
slug: contact
---

Contact form here

/ = simple_form_for :contact, action: "//forms.brace.io/hello@terracoding.com", method: :post do |f|
/   = f.input "Name", required: true
/   = f.input "Email", required: true, type: "email", name: "_replyto"
/   = f.input "Telephone", required: true, type: "tel"
/   = f.input "Company"
/   = f.input "Message", label: "How can we help you?"
/   = f.input "First Name", label: "Please don't type anything in here", wrapper_html: { class: 'hidden' }
/   = f.input "_next", type: "hidden", value: "http://www.terracoding.com/contact/thanks/"
