---
slug: home
---

%section#testimonials
  %h1.sr-only Testimonials
  .container
    #testimonials.row
      #testimonials-slideshow.col-sm-10
        - data.testimonials.each do |filename, testimonial|
          = partial "partials/index/testimonial", locals: { testimonial: testimonial }

      #testimonials-action.col-sm-2
        %p Looking to build a Web or mobile app?
        = link_to "Get in touch", "/contact/", class: "btn btn-default"

%section#services
  %h1.sr-only Our Services
  .container
    .row
      .col-sm-6
        :markdown
          We work closely with businesses in Australia and the UK to improve customer experience, increase sales, and simplify and automate their work with great software.

        %ul
          %li.service-design   Design
          %li.service-web      Web Apps
          %li.service-mobile   Mobile Apps
          %li.service-training Training

        = link_to "View case studies and more about our services", "/services/", class: "btn btn-default"

      .col-sm-6
        Image of iPhone

%section#about
  %h1.sr-only About Us
  .container
    .row
      #team.col-sm-6
        %h2 The Team
        - data.team.each do |filename, member|
          = partial "partials/index/team_member", locals: { username: filename, member: member }
