%header
  .container
    %h1
      Posts tagged
      = "&lsquo;" + link_to(tagname, tag_path(tagname)) + "&rsquo;"

%section#blog
  - articles.each_with_index do |post, i|
    - if i > 0
      %hr

    .container
      = partial "blog/post", locals: { post: post }

= partial "blog/archive"
