%figure
  %blockquote
    :markdown
      #{testimonial.quote}
  %figcaption{ itemscope: true, itemtype: "http://www.schema.org/Person" }
    %cite{ itemprop: "name" }>= testimonial.name
    ,
    %span{ itemprop: "worksFor", itemscope: true, itemtype: "http://schema.org/Organization" }
      %span{ itemprop: "name" }= testimonial.organisation
